* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: black;
}

/* .test {
  green: #51AA50; 
  white: #fff;
  blue: #3867C9;
  brown: #7C590A;
  red: #CB3834;
  light-blue: #6194FF;
} */

/* grid */

nav {
  grid-area: nav;
  width: 100%;
  height: 35px;
  background-color: #16377c;
  position: fixed;
  z-index: 2;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: right;
  margin: 0;
  font-size: 16px;
}

nav a {
  display: inline-block;
  margin: auto;
  text-align: center;
  padding: 0 5px;
  text-decoration: none;
  text-align: right;
  color: #fff;
}
nav li:hover {
  background-color: #3867c9;
}
nav a#openup {
  display: none;
}

.content {
  grid-area: content;
  float: left;
  position: relative;
  margin-top: 147px;
  margin-left: 17px;
}

.filter {
  grid-area: header;
  position: fixed;
  background-color: #fff;
  color: black;
  padding: 10px;
  margin-top: 40px;
  z-index: 2;
}

.sidebar {
  grid-area: sidebar;
  background-color: #fff;
  color: white;
  position: fixed;
  padding: 10px 0 20px 0;
  margin: 35px 40px 40px 120px;
  display: inline;
  width: 62vw;
  overflow: scroll;
  z-index: 2;
}

.list-ul {
  list-style: none;
  position: relative;
  border: 1px solid #000;
  background-color: #6194ff;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: inline-flex;
}

.list {
  position: relative;
  visibility: hidden;
  white-space: nowrap;
}

li,
.list {
  text-align: center;
  padding: 9px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  transition-duration: 0.6s;
}

.list:hover,
.list:focus {
  background-color: #fff;
  color: #16377c;
  box-shadow: 12px 10px 16px 0 rgba(0, 0, 0, 0.24),
    37px 0 50px 0 rgba(0, 0, 0, 0.19);
}

.filled {
  background-color: #fff;
  color: #16377c;
  width: 100px;
  height: 100%;
  visibility: visible;
}

.filled:hover,
.filled:focus {
  background-color: #16377c;
  color: #fff;
  box-shadow: 12px 10px 16px 0 rgba(0, 0, 0, 0.24),
    37px 0 50px 0 rgba(0, 0, 0, 0.19);
}

.wrapper {
  display: grid;
  font-family: times;
  grid-template-columns: 100px 1fr;
  grid-template-areas:
    "nav nav"
    "header sidebar"
    "header content";
  background-color: #fff;
}

.card-img {
  width: 100%;
  border-radius: 4px;
}

.card {
  width: 180px;
  float: left;
  margin: 0.4rem 0.4rem;
  cursor: pointer;
}

.card-img:hover,
.card-img:focus {
  transition-duration: 0.5s;
  box-shadow: 0 0 12px 10px rgba(228, 187, 76, 0.64);
}

button {
  font-size: 14px;
  padding: 8px 12px;
  margin: 3px 1px;
  display: block;
  border-radius: 2px;
  transition-duration: 0.4s;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  background-color: #3867c9;
  color: #fff;
  cursor: pointer;
  font-family: times;
  width: 100px;
}

button:hover,
button:focus {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  color: #16377c;
}

.list-btn {
  background-color: #fff;
  color: #000;
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
  transition-duration: 0.6s;
}

.list-btn:hover,
.list-btn:focus {
  background-color: #16377c;
  color: #fff;
  box-shadow: 12px 10px 16px 0 rgba(0, 0, 0, 0.24),
    37px 0 50px 0 rgba(0, 0, 0, 0.19);
}

.mobile-btn {
  border-radius: 50%;
  font-size: 24px;
  width: 36px;
  height: 36px;
  margin: 10px auto;
  padding: 4px;
  background-color: #16377c;
}

#cardSearch {
  padding: 6px 2px;
  font-size: 12px;
  margin-bottom: 3px;
  border: 1px solid #6194ff;
  color: #000;
  font-family: times;
  width: 100px;
}

/* Select Sets Filter */

.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline;
}

.styled-select select {
  background: transparent;
  border: none;
  font-family: times;
  margin-top: 2px;
  height: 35px;
  padding: 3px;
  width: 100px;
}

.blue select {
  background-color: #3867c9;
  color: #fff;
  font-size: 14px;
  transition-duration: 0.4s;
}

.blue select:focus,
.blue select:hover {
  background-color: #fff;
  color: #16377c;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* draggable images */

.hold {
  border: solid 5px #ccc;
}

.empty {
  display: block;
  border-left: 1px solid #000;
}

.hovered {
  background: #7c590a;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3867c9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #16377c;
}

.tooltip {
  z-index: 2;
  font-size: 14px;
}

.tooltip:after {
  position: relative;
  padding: 2px 8px;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #16377c;
  color: #fff;
  content: attr(data-window);
  width: fit-content;
  left: 1px;
  top: 9px;
  opacity: 0;
  transition: all 0.3s ease-in;
  visibility: hidden;
}

.tooltip:hover:after {
  opacity: 1;
  visibility: visible;
  right: 100%;
}

/* Info Button */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 135px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.4);
}

.listinfo-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  /* border: 1px solid #000; */
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Animations */

@-webkit-keyframes animatetop {
  from {
    top: -400px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -400px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: 1000;
}

.close:hover,
.close:focus {
  color: #6194ff;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 8px 16px;
  background-color: #16377c;
  color: #fff;
}

.modal-body {
  padding: 20px 16px;
}

.modal-body > p {
  padding: 5px 0;
  font-size: 16px;
}

/* Community Cards */
.community-list h1 {
  font-size: 18px;

  margin: 5px 10px;
  padding: 0;
  color: #16377c;
}

.community-list {
  border: 1px solid #16377c;
  margin: 20px;
}

.community-cards {
  display: inline-block;
  margin: 0 40px;
}

.community-cards > .card {
  width: 180px;
}

.text-list {
  display: inline-block;
}

td,
th {
  border: 1px solid #16377c;
  text-align: left;
  padding: 8px;
  color: #000;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td:hover {
  background-color: #16377c;
  color: #fff;
}

/* Media Queries */

@media only screen and (min-width: 503px) and (max-width: 697px) {
  .sidebar {
    width: 75%;
  }
}

@media only screen and (min-width: 697px) and (max-width: 768px) {
  .sidebar {
    width: 81%;
  }
}

/* Tablet (768px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    grid-template-columns: 124px 1fr;
    grid-template-areas:
      "nav nav"
      "sidebar header"
      "sidebar content";
  }

  .content {
    margin-top: 220px;
    margin-left: 50px;
  }

  .filter {
    margin-top: 40px;
    margin-left: 140px;
    padding: 20px 140px 20px 50px;
    width: 100%;
    box-shadow: 5px 10px 10px #ccc;
  }

  nav {
    height: 40px;
  }

  nav li {
    font-size: 20px;
  }

  nav a {
    padding: 0 6px;
  }

  .sidebar {
    margin: 40px 0px 100px;
    width: fit-content;
    padding: 0 66px 100px 0;
    overflow: hidden;
    z-index: 0;
  }

  .list-ul {
    display: inline-block;
  }

  .list {
    padding: 10px 16px;
  }

  li {
    font-size: 16px;
    padding: 12px;
  }

  .filled {
    width: 135px;
  }

  .card {
    width: 180px;
  }

  button {
    font-size: 16px;
    display: inline-block;
    width: 120px;
  }

  .list-btn {
    font-size: 16px;
    padding: 10px 18px;
  }

  #cardSearch {
    font-size: 16px;
    width: 200px;
    float: none;
  }

  .styled-select select {
    width: 120px;
  }

  .blue select {
    font-size: 16px;
  }

  .empty {
    border-left: none;
    border-top: 1px solid #000;
  }

  .tooltip:after {
    position: absolute;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #16377c;
    color: #fff;
    content: attr(data-window);
    min-width: 40px;
    max-width: 100px;
    right: 130%;
    top: 420px;
    opacity: 0;
    transition: all 0.3s ease-in-out 0.4s;
    visibility: hidden;
  }

  .tooltip:hover:after {
    opacity: 1;
    visibility: visible;
    left: 10px;
  }

  .modal-header {
    padding: 6px 20px;
    font-size: 16px;
  }

  .modal-body > p {
    font-size: 24px;
  }

  .close {
    font-size: 48px;
  }

  /* Community Cards */
  .community-list h1 {
    font-size: 24px;
  }

  .community-cards > .card {
    width: 17%;
  }

  .mobile {
    display: inline-block;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    grid-template-columns: 15% 1fr;
    grid-template-areas:
      "nav nav"
      "sidebar header"
      "sidebar content";
  }

  nav {
    height: 40px;
  }

  nav li {
    font-size: 24px;
  }

  nav a {
    padding: 0 12px;
  }

  .content {
    margin-top: 200px;
    margin-left: 0;
  }

  .filter {
    padding: 20px 0 20px 20px;
    margin-top: 40px;
    margin-left: 145px;
    width: 100%;
    box-shadow: 5px 10px 10px #eaeaea;
  }

  .sidebar {
    display: inline-block;
    margin: 40px 0 0;
    overflow: inherit;
    width: auto;
    z-index: 0;
  }

  .list-ul {
    display: inline-block;
    width: 140px;
  }

  .list {
    width: 100%;
    padding: 10px 16px;
    word-wrap: break-word;
  }

  li {
    padding: 6px;
    font-size: 20px;
  }

  .card {
    width: 200px;
  }

  button {
    font-size: 18px;
    display: inline;
    padding: 13px 0;
  }

  .list-btn {
    font-size: 20px;
    padding: 8px 20px;
  }

  #cardSearch {
    padding: 12px 5px;
    margin: 7px 3px 0 0;
    font-size: 18px;
    width: 160px;
  }

  .styled-select select {
    height: 48px;
    padding: 5px;
    width: 150px;
  }

  .blue select {
    font-size: 18px;
  }

  .empty {
    border-top: 1px solid #000;
    border-left: none;
  }

  .tooltip:after {
    position: absolute;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #16377c;
    color: #fff;
    content: attr(data-window);
    min-width: 80px;
    right: 130%;
    top: 430px;
    opacity: 0;
    transition: all 0.3s ease-in-out 0.4s;
    visibility: hidden;
  }

  .tooltip:hover:after {
    opacity: 1;
    visibility: visible;
    left: 0;
  }

  .modal-header {
    padding: 6px 20px;
    font-size: 16px;
  }

  .modal-body > p {
    font-size: 24px;
  }

  .close {
    font-size: 48px;
  }

  /* Community */
  .community-list h1 {
    font-size: 28px;
  }

  .community-list {
    margin: 20px;
  }

  .community-cards {
    display: inherit;
    margin: 0;
  }

  .community-cards > .card {
    width: 16%;
  }
  .mobile {
    display: block;
  }
}
