* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: black;
}

/* .test {
  green: #51AA50; 
  white: #fff;
  blue: #3867C9;
  brown: #7C590A;
  red: #CB3834;
  light-blue: #6194FF;
} */

/* grid */

nav {
  grid-area: nav;
  height: 40px;
  width: 100%;
  background-color: #16377c;
  position: relative;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: right;
  margin: 0;
  font-size: 24px;
}

nav a {
  display: inline-block;
  margin: auto;
  text-align: center;
  padding: 0 12px;
  text-decoration: none;
  text-align: right;
  color: #fff;
}
nav li:hover {
  background-color: #3867c9;
}
nav a#openup {
  display: none;
}

.content {
  grid-area: content;
  float: left;
  position: relative;
}

.filter {
  grid-area: header;
  background-color: #fff;
  color: black;
  position: relative;
  padding: 20px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #6194ff;
  color: white;
  position: fixed;
  margin-top: 39px;
}

.list-ul {
  list-style: none;
  position: relative;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.list {
  position: relative;
}

li,
.list {
  text-align: center;
  padding: 6px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  transition-duration: 0.6s;
}

.list:hover,
.list:focus {
  background-color: #fff;
  color: #3867c9;
  box-shadow: 12px 10px 16px 0 rgba(0, 0, 0, 0.24),
    37px 0 50px 0 rgba(0, 0, 0, 0.19);
}

.filled {
  background-color: #fff;
  color: #3867c9;
}

.wrapper {
  display: grid;
  font-family: times;
  grid-template-columns: 15% 1fr;
  grid-template-areas:
    "nav nav"
    "sidebar header"
    "sidebar content";
  background-color: #fff;
}

.card-img {
  width: 100%;
  border-radius: 4px;
}

.card {
  width: 200px;
  float: left;
  margin: 0.4rem 0.4rem;
  cursor: pointer;
}

.card-img:hover,
.card-img:focus {
  transition-duration: 0.5s;
  box-shadow: 0 0 12px 10px rgba(228, 187, 76, 0.64);
}

button {
  font-size: 18px;
  border-radius: 2px;
  transition-duration: 0.4s;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 32px;
  background-color: #3867c9;
  color: #fff;
  cursor: pointer;
  font-family: times;
}

button:hover,
button:focus {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  color: #16377c;
}

.list-btn {
  background-color: #fff;
  color: #000;
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
  font-size: 20px;
  font-weight: 500;
  transition-duration: 0.6s;
}

.list-btn:hover {
  background-color: #16377c;
  color: #fff;

  box-shadow: 12px 10px 16px 0 rgba(0, 0, 0, 0.24),
    37px 0 50px 0 rgba(0, 0, 0, 0.19);
}

#cardSearch {
  float: right;
  padding: 12px 5px;
  border: 1px solid #6194ff;
  color: #000;
  font-size: 18px;
  font-family: times;
}

/* Select Sets Filter */

.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline;
}

.styled-select select {
  background: transparent;
  border: none;
  font-family: times;
  height: 48px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 150px;
}

.blue select {
  background-color: #3867c9;
  color: #fff;
  font-size: 18px;
}

/* draggable images */

.hold {
  border: solid 5px #ccc;
}

.empty {
  display: block;

  border-top: 1px solid #000;
}

.hovered {
  background: #7c590a;
}

.community-ul {
  border: 1px solid #16377c;
  margin: 5px;
  text-align: center;
}

.community-ul h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: #16377c;
}

.community-ul > li {
  list-style: none;
  color: #16377c;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3867c9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #16377c;
}

/* Media Queries */

/* Smartphone (320px) */
@media only screen and (min-width: 320px) and (max-width: 727px) {
  .wrapper {
    grid-template-columns: 100px 1fr;
    grid-template-areas:
      "nav nav"
      "header sidebar"
      "header content";
  }

  .content {
    margin-top: 86px;
    margin-left: 20px;
  }

  .filter {
    padding: 10px;
    position: fixed;
    margin-top: 29px;
  }

  nav {
    height: 30px;
    position: fixed;
    z-index: 2;
  }

  nav li {
    font-size: 16px;
  }

  nav a {
    padding: 0 5px;
  }

  .sidebar {
    margin: 30px 117px 100px;
    position: fixed;
    display: inline;
    width: 66%;
    overflow: scroll;
    z-index: 2;
  }

  li,
  .list {
    font-size: 16px;
    padding: 9px;
  }

  .list {
    width: 70px;
  }

  .list-ul {
    display: inline-flex;
  }

  button {
    padding: 8px 12px;
    font-size: 14px;
    margin: 3px 1px;
    display: block;
    padding: 8px 12px;
    width: 100px;
  }

  .list-btn {
    font-size: 16px;
    padding: 0 20px;
  }

  .card {
    width: 180px;
    margin: 0.4rem 0.4rem;
  }

  #cardSearch {
    margin-bottom: 3px;
    padding: 6px 2px;
    font-size: 12px;
    width: 100px;
    float: none;
  }

  .styled-select select {
    padding: 3px;
    margin-top: 2px;
    height: 35px;
    width: 100px;
  }

  .blue select {
    font-size: 14px;
  }
  .empty {
    border-left: 1px solid #000;
    border-top: none;
  }
}

/* Tablet (728px) */
@media only screen and (min-width: 728px) and (max-width: 1023px) {
  .wrapper {
    grid-template-columns: 124px 1fr;
    grid-template-areas:
      "nav nav"
      "header sidebar"
      "header content";
  }

  .content {
    margin-top: 90px;
    margin-left: 20px;
  }

  .filter {
    padding: 10px;
    position: fixed;
    margin-top: 39px;
  }

  nav {
    height: 40px;
    position: fixed;
    z-index: 2;
  }

  nav li {
    font-size: 20px;
  }

  nav a {
    padding: 0 5px;
  }

  .sidebar {
    margin: 39px 150px 100px;
    position: fixed;
    display: inline;
    width: 80%;
    overflow: scroll;
    z-index: 2;
  }

  li,
  .list {
    font-size: 16px;
    padding: 9px;
  }

  .list {
    width: 70px;
  }

  .list-ul {
    display: inline-flex;
  }

  button {
    padding: 8px 12px;
    font-size: 16px;
    margin: 3px 1px;
    display: block;
    padding: 8px 12px;
    width: 120px;
  }

  .list-btn {
    font-size: 16px;
    padding: 0 20px;
  }

  .card {
    width: 180px;
    margin: 0.4rem 0.4rem;
  }

  #cardSearch {
    margin-bottom: 3px;
    padding: 6px 2px;
    font-size: 16px;
    width: 120px;
    float: none;
  }

  .styled-select select {
    padding: 3px;
    margin-top: 2px;
    height: 35px;
    width: 120px;
  }

  .blue select {
    font-size: 16px;
  }
  .empty {
    border-left: 1px solid #000;
    border-top: none;
  }
}
