* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: black;
}

/* .test {
  green: #51AA50; 
  white: #fff;
  blue: #3867C9;
  brown: #7C590A;
  red: #CB3834;
  light-blue: #6194FF;
} */

/* grid */

nav {
  grid-area: nav;
  height: 40px;
  width: 100%;
  background-color: #16377c;
  position: relative;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: right;
}

nav a {
  display: inline-block;
  margin: auto;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  text-align: right;
  color: #fff;
}
nav li:hover {
  background-color: #3867c9;
}
nav a#openup {
  display: none;
}

.content {
  grid-area: content;
  float: left;
  position: relative;
}

.filter {
  grid-area: header;
  background-color: #fff;
  color: black;
  position: relative;
  padding: 20px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #6194ff;
  color: white;
}

.list-ul {
  list-style: none;
  position: fixed;
  border: 1px solid #000;
  /* margin-left: 40px; */
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
li,
.list {
  text-align: center;
  padding: 6px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  transition-duration: 0.6s;
  width: 100;
}

.list:hover,
.list:focus {
  background-color: #fff;
  color: #3867c9;
  box-shadow: 12px 10px 16px 0 rgba(0, 0, 0, 0.24),
    37px 0 50px 0 rgba(0, 0, 0, 0.19);
}

.filled {
  background-color: #fff;
  color: #3867c9;
}

.wrapper {
  display: grid;

  grid-template-columns: 15% 1fr;
  grid-template-areas:
    "nav nav"
    "sidebar header"
    "sidebar content";
  background-color: #fff;
}

.card-img {
  width: 100%;
  border-radius: 4px;
}

.card {
  width: 200px;
  float: left;
  margin: 0.4rem 0.4rem;
  cursor: pointer;
}

button {
  font-size: 16px;
  border-radius: 2px;
  transition-duration: 0.4s;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 32px;
  background-color: #3867c9;
  color: #fff;
  cursor: pointer;
}

button:hover,
button:focus {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  color: #16377c;
}

.list-btn {
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #000;
  border-radius: 0;
  font-size: 20px;
  font-weight: 500;
  transition-duration: 0.6s;
}

.list-btn:hover {
  background-color: #16377c;
  color: #fff;
  border: 0;
  box-shadow: 12px 10px 16px 0 rgba(0, 0, 0, 0.24),
    37px 0 50px 0 rgba(0, 0, 0, 0.19);
}

#cardSearch {
  float: right;
  padding: 15px 5px;
  border: 1px solid #6194ff;
  color: #000;
  font-size: 16px;
}

/* Select Sets Filter */

.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 16px;
  height: 48px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 150px;
}

.blue select {
  background-color: #3867c9;
  color: #fff;
  font-size: 16px;
}

/* draggable images */

.hold {
  border: solid 5px #ccc;
}

.empty {
  display: block;

  border-top: 1px solid #000;
}

.hovered {
  background: #7c590a;
}
