* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #333;
}

.forms {
  background: #fff;
  box-shadow: 0 0 3px #000;
  margin: 30px auto;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.forms h1 {
  padding: 0 0 20px 0;
  font-size: 26px;
  color: #000;
  font-weight: lighter;
  text-align: center;
}
.forms form {
  padding: 30px;
}
#signup {
  display: none;
}
.forms .tab-group {
  list-style: none;
  padding: 0;
  margin: 0;
}
.forms .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.forms .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #3e606f;
  color: #fff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  border: 3px solid transparent;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.forms .tab-group li a:hover,
.forms .tab-group li a:focus {
  background: #193441;
  color: #fff;
}
.forms .tab-group .active a {
  background: #fff;
  color: #000;
  border: 3px solid transparent;
  font-weight: bold;
}

.forms .tab-group li {
  padding: 0;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0.1em;
  padding-top: 40px;
}

h2 {
  font-size: 1.2em;
}

#signup,
#login {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#signup fieldset,
#login fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
}

button {
  width: 100px;
  background: #193441;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

button:hover,
button:focus {
  background: white;
  color: #3e606f;
  border: none;
}

legend {
  color: #193441;
  text-align: right;
  border: 1px solid #193441;
  padding: 0.2em 0.5em;
  background-color: white;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
}

input {
  margin-bottom: 3px;
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  display: inline-block;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 3px solid #193441;
}

.info-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  padding: 0 15px;
}

header {
  color: #193441;
}

.information,
header {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.information h2 {
  margin-bottom: 10px;
  text-align: center;
}

.information {
  border-radius: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.information a {
  color: #193441;
}

.information a:hover {
  color: #91aa9d;
}

.information a:visited {
  color: #3e606f;
}

p {
  padding: 10px;
}

#sample-container {
  background-color: #3e606f;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0;
  border-radius: 5px;
  padding-bottom: 10px;
}
/* 
#sample-btn {
} */

/* Tablet (766px) */
@media only screen and (min-width: 766px) {
  #signup fieldset,
  #login fieldset {
    width: 100%;
  }

  .information:nth-child(3) {
    margin-bottom: 20px;
  }
}
